---
title: Current Season
---

<% if defined?(season) %>
       <h1>Season <%= season.number %> - <small>Current Season</small></h1>
  <%= image_tag(season.poster_path, class: "thumbnail") %>
  <% episodes = episodes_catalog.all_episodes_in_season(season) %>
  <% free_episodes = episodes.select(&:free?) %>
  <section class="pitch">
    <%= partial "views/seasons/pitch_current" %>
    <%= image_tag("subscription-poster.png", class: "poster") %>
  </section>
  <%= partial "views/subscribe_button" %>
  <% if free_episodes.present? %> 
  <section class="featured-episodes featured-<%= free_episodes.count%>">
    <h2>Watch free videos now</h2>
    <% free_episodes.each do |episode| %>
      <div class="featured-episode">
        <%= partial "views/wistia_responsive_popup", locals: {episode: episode} %>
        <h4><%= episode.formatted_title %></h4>
      </div>
    <% end %>
  </section>
  <% end %>

  <section class="signup">
    <h2>Get more free episodes!</h2>
    <p>Leave your email below and you'll be the first to know when the project launches and the first to watch new free episodes.</p>
  <%= partial "views/mailchimp_signup_form" %>
  </section>

  <section class="episodes">
    <h2>Episodes already released in this Season</h2>
  <% episodes.each do |episode| %>
    <div class="episode free">
      <div class="poster">
        <%= image_tag(episode.poster_path, class: "thumbnail") %>
      </div>
      <div class="info">
        <h2>Episode <%= episode.formatted_title %></h2>
        <%= episode.description %>
      </div>
    </div>
  <% end %>
</section>

<% end %>
<% content_for(:javascript) do %>
  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us2.list-manage.com","uuid":"424cb3a08158b944b14a88995","lid":"6db0572242"}) })</script>
  <% end %>
