---
title: "64Bites - Season"
---
<% partial 'views/pitch' do %>
    <h1 style="width: 100%">The easiest way to start programming <em>Commodore&nbsp;64</em></h1>
    <p class="lead"><em>Learn</em> BASIC and 6502 Assembly with bite-sized video tutorials.<br>Binge-watch previous episodes <em>today</em>!</p> 
<% end %>
<% if defined?(season) %>
  <% episodes = episodes_catalog.all_episodes_in_season(season) %>
  <% free_episodes = episodes.select(&:free?) %>
<section class="season">
  <div class="row">
  <h1>Season <%= season.number %> - <small><%= season.title %></small></h1>
  <%= image_tag(season.poster_path, class: "season__poster") %>
  </div>
  </section>
  <section class="features">
    <div class="row">
    <%= partial "views/seasons/pitch_#{season.formatted_number}" %>
    </div>
  </section>
  <% if current_promotion.enabled? %>  
    <%= partial "views/buy_season_button", locals: {single_product: true, url: "https://gumroad.com/l/#{season.gumroad_product_id}/#{current_promotion.coupon_code}?wanted=true&gift=true", caption: "Buy Season #{season.number} for just <s style=\"color: #b6eab3;\">#{ season.price.formatted }</s> #{current_promotion.season_price.formatted}".html_safe} %>
  <% else %>
    <%= partial "views/buy_season_button", locals: {single_product: true, url: "https://gumroad.com/l/#{season.gumroad_product_id}/?wanted=true&gift=true", caption: "Buy Season #{season.number} for just #{ season.price.formatted }".html_safe} %>
  <% end %>
</div>

  <%= partial "views/testimonials_section" %>

  <%= partial "views/episodes_list", {locals: {episodes: episodes}} -%>

<% end %>
<% content_for(:javascript) do %>
  <script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
  <% end %>
