<header class="header">
  <div class="row">
  <a class="header__logo" href="/"></a>
  <div class="navigation-bar">
    <ul >
      <li><%= nav_link "Seasons", "/seasons/all"%></li>
      <li><%= nav_link "Episodes", "/episodes/all"%></li>
      <li><%= nav_link "Blog", "/blog"%></li>
      <li><%= nav_link "Forums", "https://www.facebook.com/groups/64bitesVIP"%></li>
      <li><%= nav_link "Open Source", "/64spec"%></li>
    </ul>
  </div>
  </div>
</header>
