<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= page_property(locals, "title") || "64 Bites" %></title>
    <meta name="description" content="<%= truncate(page_property(locals, "description") || current_page.data.summary || "", length: 200)%>">
    <%= stylesheet_link_tag "application" %>
    <link rel="canonical" href="<%= page_url(current_page.url) %>">
    <%= favicon_tag 'favicon.ico' %>
    <link rel="apple-touch-icon" href="favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href:"favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon-180.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@64_bites">
    <meta name="twitter:creator" content="@mehowte">
    <meta property="og:image" content="<%= image_url(page_property(locals, "main_image") || "logo-square.png") %>">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="<%= page_url(current_page.url)%>">
    <meta property="og:title" content="<%= page_property(locals, "title") || "64 Bites"%>">
    <meta property="og:type" content="<%= page_property(locals, "ogtype") || "website"%>">
    <meta property="og:description" content="<%= truncate(page_property(locals, "description") || current_page.data.summary || "", length: 200)%>">
    <meta name="google-site-verification" content="Yaz0CxBUbKaWP3BWbjlc_JEq0LhifBVnTBzYuXtYQBE">
    <meta name="coverage" content="Worldwide">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.2/jquery.fancybox.min.css" type="text/css" media="screen" />
    <style>

.embed-container {
  position: relative;
  padding-bottom: 62.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
    .fancybox-slide--iframe .fancybox-content{
        margin: 0!important;
        max-width: 80%;
        width: 80%;
        padding-top: 50%; 
        height: 0 !important;
    }

    .fancybox-slide--iframe .fancybox-iframe{ 
            position: absolute; 
            top: 0; 
            left: 0; 
            right: 0; 
            bottom: 0;
            background: black;

    }
}    </style>
    <%= partial "layouts/facebook_pixel", locals: {event: current_page.data.facebook_pixel_event || "PageView" } %>
  </head>
  <body class="<%= page_classes %>">
    <% if current_promotion.enabled? %>
      <section class="black_friday" style="text-align: center; color: white; background: black;">
        <br>
          <h1 style="width: 100%">Thanks for the webinar</h1>
          <div style=" background: black;">
          <div id="flipclock" style="width: 460px;"></div>
          <p class="lead" style="padding-bottom:20px;"><%= link_to "All seasons", "/seasons/all" %> are <strong style="color:#FFDB50;">40% off</strong> until the end of the weekend!</p>
          
        </div>
      </section>
    <% end %> 
    <% if(!current_page.data.hide_menu) %>
      <%= partial "layouts/header" %>
    <% end %>
    <main>
      <% if(current_page.data.hide_menu) %>
        <div class="container">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
    <%= partial "layouts/footer" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js", "application", "flipclock", "moment-with-locales", "moment-timezone-with-data-2012-2022" %>
    <%= partial "layouts/segment_io" %> 
    <%= partial "layouts/twitter_conversion_tracking", locals: {pid: current_page.data.twitter_conv_pid || "nthnq", sale_amount: current_page.data.twitter_conv_sale_amount || 0, order_quantity: current_page.data.twitter_conv_order_quantity || 0} %>
    <%= partial "layouts/drip" %>
    <%= yield_content(:javascript) %>
    <script>
$(function() {
    var $clock = $("#flipclock");
    var timezone = "Europe/Warsaw";
    var deadline = "2019-02-17 23:59:59";
    var clientTimezone = moment.tz.guess();
    var currentDate = moment.tz(moment(), clientTimezone);
    var futureDate = moment.tz(deadline, timezone);
    var secondsLeft = Math.round(Math.max(futureDate-currentDate, 0) / 1000);
    var daysLeft = Math.floor(secondsLeft / (60*60*24));
    var isDaily = daysLeft >= 1;
    var width = isDaily ? "460px" : "340px";
    $clock.width(width);
    var clock = $clock.FlipClock(secondsLeft, {
      clockFace: isDaily ? 'DailyCounter' : 'HourlyCounter',
      countdown: true
    });
      
      var clock = $clock.FlipClock(deadline.diff(now, "seconds"),{
        countdown: true,
        clockFace: 'DailyCounter',
      });
    });
    </script>
  </body>
</html>
