!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title= "64 Bites - Episode #{season.formatted_title}"
    = stylesheet_link_tag "application"
    = favicon_tag 'favicon.ico'
    %meta{:property => "og:image", :content => image_url(season.poster_path)}
    %meta{:property => "og:url", :content => season_url(season) + "/"}
    %meta{:property => "og:title", :content => "64 Bites - #{season.formatted_title}"}
    %meta{:property => "og:type", :content => "video.tv_show"}
    %meta{:property => "og:description", :content => season.description}
    %link{rel:"apple-touch-icon", href:"favicon-76.png"}
    %link{rel:"apple-touch-icon", sizes:"120x120", href:"favicon-120.png"}
    %link{rel:"apple-touch-icon", sizes:"152x152", href:"favicon-152.png"}
    %link{rel:"apple-touch-icon", sizes:"180x180", href:"favicon-180.png"}
    %link{href:"//cdn-images.mailchimp.com/embedcode/classic-081711.css", rel:"stylesheet", type:"text/css"}
    %meta{name:"google-site-verification", content:"Yaz0CxBUbKaWP3BWbjlc_JEq0LhifBVnTBzYuXtYQBE"}
    = partial "layouts/sumo_me"
  %body{class: page_classes}
    .container
      = partial "layouts/header"
      %main
        = yield
      %footer
        %span
          Copyright © 2014-<%= Time.now.year %> Creative Mind - Michal Taszycki
    = javascript_include_tag "https://code.jquery.com/jquery-2.1.1.min.js", "application"
    :javascript
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
      analytics.load("3z8xJ01MQLwMsgpwWuPmw2BTxor55hoB");
      analytics.page()
      }}();
    -#:javascript
      -#(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        -#(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        -#m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      -#})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      -#ga('create', 'UA-55867441-1', 'auto');
      -#ga('send', 'pageview');
    -#:javascript
      -#var _kmq = _kmq || [];
      -#var _kmk = _kmk || '7a4a215ccec4ec81ef6a57d51b38c6615c0e95df';
      -#function _kms(u){
        -#setTimeout(function(){
          -#var d = document, f = d.getElementsByTagName('script')[0],
          -#s = d.createElement('script');
          -#s.type = 'text/javascript'; s.async = true; s.src = u;
          -#f.parentNode.insertBefore(s, f);
        -#}, 1);
      -#}
      -#_kms('//i.kissmetrics.com/i.js');
      -#_kms('//scripts.kissmetrics.com/' + _kmk + '.2.js');
    = partial "layouts/facebook_pixel", locals: {event: current_page.data.facebook_pixel_event || "PageView" }
    = partial "layouts/twitter_conversion_tracking", locals: {pid: current_page.data.twitter_conv_pid || "nthnq", sale_amount: current_page.data.twitter_conv_sale_amount || 0, order_quantity: current_page.data.twitter_conv_order_quantity || 0}
    = yield_content(:javascript)
