---
hide_menu: true
---
<h1>404 Page Not Found</h1> 

<p class="lead">Sorry! The page you are looking for is not here:(</p>

<p>Here are some links that might be helpful:
<ul>
  <li><%= link_to "Homepage", "/" %> - Go back to start</li>
  <li><%= link_to "Episodes", "/episodes/all" %> - Catalog of all video tutorials.</li>
  <li><%= link_to "Seasons", "/seasons/all" %> - Video Tutorials, packed in Bundles of 9</li>
  <li><%= link_to "Blog", "/blog" %> - Something to read</li>
  <li><%= link_to "64spec", "/64spec" %> - The only testing framework you'll ever need for Commodore 64.</li>
</ul>

</p>

