<div class="tier <%= tier_class %>">
    <div class="title">
      <h3>just one Episode</h3>
    </div>
    <% normal_price = episode.price %>
    <% discounted_price = current_promotion.enabled? ? episode.price.discount_by(current_promotion.percent) : normal_price %>
    <div class="price">
      <% if normal_price != discounted_price %>  
        <span class="value"><s style="color: #9e8318"><%= normal_price.formatted %></s> <%= discounted_price.formatted %></span>
      <% else %>
        <span class="value"><%= normal_price.formatted %></span>
      <% end %>
    </div>
    <div class="features">
      <ul class="fa-ul">
        <li><i class="fa-li fa fa-check"></i>Immediate access to <strong>one</strong> episode</li>
        <li><i class="fa-li fa fa-check"></i>Online streaming</li>
        <li><i class="fa-li fa fa-check"></i>DRM-free download</li>
        <li><i class="fa-li fa fa-check"></i>Full Transcript</li>
        <li><i class="fa-li fa fa-check"></i>Source Code</li>
        <li><i class="fa-li fa fa-check"></i>Exercises</li>
        <li><i class="fa-li fa fa-check"></i>One-time payment</li>
      </ul>

    </div>
      <div class="price-per-episode">
        <% if normal_price != discounted_price %>  
          Price per episode: <s style="color: #908e8a"><%= normal_price.formatted %></s> <%= discounted_price.formatted %>
        <% else %>
          Price per episode: <%= normal_price.formatted %>
        <% end %>
    </div>
    <div class="call-to-action">
      <% if current_promotion.enabled? %>  
      <a class="button" data-gumroad-single-product="true" href="https://gumroad.com/l/<%= episode.gumroad_product_id %>/<%= current_promotion.coupon_code %>">Get one episode</a>
      <% else %>
        <a class="button" data-gumroad-single-product="true" href="https://gumroad.com/l/<%= episode.gumroad_product_id %>/">Get one episode</a>
      <% end %>
    </div>
    <% if show_alternative_cta %>
      <div class="more">
        or <a href="/episodes/all">browse all episodes</a>
      </div>
    <% end %>

  </div>

