<div class="tier <%= tier_class %>">
  <div class="title">
    <h3>with Season <%= season.number %></h3>
  </div>
  <% episode_price = current_promotion.enabled? ? globals.episode_price.discount_by(current_promotion.percent) : globals.episode_price %>
  <% normal_price = episode_price.multiply_by(9.0) %>
  <% discounted_price = current_promotion.enabled? ? season.price.discount_by(current_promotion.percent) : season.price %>
  <% actual_episode_price = discounted_price.divide_by(9.0) %>
  <div class="price">
      <span class="value"><s style="color: #9e8318"><%= normal_price.formatted %></s> <%= discounted_price.formatted %></span>
  </div>
  <div class="features">
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check"></i>Immediate access to <strong>9</strong> episodes</li>
      <li><i class="fa-li fa fa-check"></i>Online streaming</li>
      <li><i class="fa-li fa fa-check"></i>DRM-free download</li>
      <li><i class="fa-li fa fa-check"></i>Full Transcripts</li>
      <li><i class="fa-li fa fa-check"></i>Source Codes</li>
      <li><i class="fa-li fa fa-check"></i>Exercises</li>
      <li><i class="fa-li fa fa-check"></i><strong>More cost-efficient</strong></li>
      <li><i class="fa-li fa fa-check"></i>One-time payment</li>
    </ul>
  </div>
  <div class="price-per-episode">
    Price per episode: <s style="color: #908e8a"><%= episode_price.formatted %></abbr></s> <abbr title="estimated"><%= actual_episode_price.formatted %></abbr>
  </div>
  <div class="call-to-action">
    <% if current_promotion.enabled? %>  
    <a class="button" data-gumroad-single-product="true" href="https://gumroad.com/l/<%= season.gumroad_product_id %>/<%= current_promotion.coupon_code %>">Get 9 episodes</a>
    <% else %>
      <a class="button" data-gumroad-single-product="true" href="https://gumroad.com/l/<%= season.gumroad_product_id %>/">Get 9 episodes</a>
    <% end %>
  </div>
  <% if show_alternative_cta %>
  <div class="more">
    or <a href="/seasons/all">browse all seasons</a>
  </div>
  <% end %>
</div>
