<% episodes = episodes_catalog.all_episodes_in_season(episodes_catalog.current_season) %>
<% annual_price_per_month = Price.new(subscription.annual_price.in_dollars / 12) %>
<div class="tier <%= tier_class %>">
  <div class="title">
    <h3>with an Ongoing Subscription</h3>
  </div>
  <div class="price">
    <span class="value"><%= subscription.monthly_price.formatted %></span><span class="period">/month</span><br>
    <span class="variant">(or <%= annual_price_per_month.formatted %>/month with an annual payment)</span>
  </div>
  <div class="features">
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check"></i><strong>Immediate access to <%= episodes.count %> latest episodes!</strong></li>
      <li><i class="fa-li fa fa-check"></i>Online streaming</li>
      <li><i class="fa-li fa fa-check"></i>DRM-free download</li>
      <li><i class="fa-li fa fa-check"></i><strong>New video every week!</strong></li>
      <li><i class="fa-li fa fa-check"></i>Full Transcripts</li>
      <li><i class="fa-li fa fa-check"></i>Source Codes</li>
      <li><i class="fa-li fa fa-check"></i>Exercises</li>
      <li><i class="fa-li fa fa-check"></i><strong>The most cost-efficient option</strong></li>
      <li><i class="fa-li fa fa-check"></i>One payment per month (or year)</li>
    </ul>
  </div>
  <% price_per_episode = Price.new(subscription.annual_price.in_dollars / 53) %>
  <div class="price-per-episode">
    <strong>Price per episode: <abbr title="estimated for an annual payment">~<%= price_per_episode.formatted %></abbr></strong>
  </div>
  <div class="call-to-action">
    <a class="button" href="https://gumroad.com/l/<%= subscription.gumroad_product_id %>">Get Episode + Subscription</a>
  </div>
  <% if show_alternative_cta %>
  <div class="more">
    or <a href="/subscription">learn more about the subscription</a>
  </div>
  <% end %>
</div>
