---
title: 64 Bites - Short and Sweet Commodore 64 Programming Screencasts
summary: The easiest way to start programming Commodore&nbsp;64
thumbnail: episodes/014.png
---
<section>
  <div class="features">
    <h1>The easiest way to start programming Commodore&nbsp;64</h1>
    <p class="lead" style="font-size: 150%;">Life is too short for reading twenty-year-old books.<br>Learn BASIC and Assembly with bite-sized video tutorials.</p> 
    <h2>Someday you WILL write a game or a demo!</h2>
    <p>Too bad your daily job sucks most of your time, so there is not much left for your hobby.</p>

    <p>You have NO TIME for listening long boring lectures, trying understand outdated tutorials and begging for help on forums.</p>

    <p>But someday you will have time for that...</p>

    <p>Someday you will write a game or a demo...</p>

    <h2>What if you could learn something new in 5 minutes?</h2>

    <p>Imagine that 5 minutes from now <strong>you will know</strong> how to define Sprite Bitmaps in Assembly.</p>

    <p>Ready?</p>

    <p>Watch this video:</p>
    <% sprite_episode = episodes_catalog.find_episode(22) %>
    
    <%= partial "views/wistia_video", locals: { wistia_id: sprite_episode.wistia_id, kissmetrics_data: "Free Episode #{sprite_episode.formatted_title}" } %>

    <p>Imagine that <strong>every week</strong> you make a <strong>small step</strong> toward your goal. You watch a short video, play around with code examples and read show notes.<br>
    In couple of weeks from now you'll have a solid understanding of a lot of BASIC, assembly and Commodore 64, and will be so much closer to your goal.</p>

    <p>And the best part?</p>

    <p>It will be <strong>effortless</strong>.</p>

    <h2>This is what 64 Bites is all about.</h2>

    <p>I'm reading those books, tutorials and forums so you don't have to. I'm working hard to give you exactly what you need to achieve your goal. </p>
    <ul class="pros">
      <li><strong>Each week</strong> you'll get a short, ~5-minute <strong>video</strong> covering a small bit of <strong>BASIC</strong>, <strong>6502/6510 assembly</strong> and the architecture of Commodore 64.</li>
      <li>Along with the video you'll receive a <strong>complete transcript</strong> of the episode, <strong>source code</strong> examples and additional show notes.</li>
      <li>You can <strong>watch episodes online</strong> on any device or <strong>download</strong> for your convenience <strong>DRM free</strong>.</li>
    </ul>
  </div>
</section>

<%= partial "views/subscribe_button" %>

<section class="trailer">
  <h2>See the trailer!</h2>
<%= partial "views/wistia_video", locals: { wistia_id: "0vwl7x06x8", kissmetrics_data: "Launch Video" } %>
</section>

<section class="featured-episodes featured-<%= featured_episodes.count%>">
  <h2>Watch a few episodes now!</h2>
  <% featured_episodes.each do |episode| %>
    <% link_to episode_path(episode), class: "featured-episode" do %>
    <%= image_tag episode.poster_path %>
    <h4><%= episode.formatted_title %></h4>
    <%= image_tag "play-icon.png", class: "play-icon" %>
<% end %>
<% end %>
</section>

<%= partial "views/subscribe_button" %>
<%#<section class="signup">%>
  <%#<h2>Get more free episodes!</h2>%>
  <%#<p>Leave your email below and you'll be the first to know when the project launches and the first to watch new free episodes.</p>%>
<%#<%= partial "views/mailchimp_signup_form" %>
<%#</section>%>

<section class="testimonials">
  <h2>See what others are saying!</h2>
  <% data.testimonials.each_slice(2) do |testimonials_row| %>
    <div class="row">
      <% testimonials_row.each do |testimonial| %>
        <div class="testimonial">
          <div class=" bubble">
            <blockquote><%= testimonial.body %></blockquote>
          </div>
          <div class="author">
            <%= image_tag "testimonials/#{testimonial.photo}", class: "avatar" %>
            <div class="credentials">
              <h4>- <%= testimonial.name %></h4>
              <p><%= testimonial.credentials %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
<section class="signup">
  <h2>Get free episodes & articles right to your inbox!</h2>
  <p>Leave your email below and you'll be the first to watch new free episodes and read new articles.</p>
<%= partial "views/mailchimp_signup_form" %>
</section>
