---
title: 64 Bites - Short and Sweet Commodore 64 Programming Screencasts
---
<section class="pitch">
  <div class="author">
    <%= image_tag "avatar.jpg", class: "avatar" %>
    <span>by <a href="https://twitter.com/mehowte">Michał Taszycki</a></span>
  </div>
  <div class="features">
    <h1>The easiest way to start programming Commodore&nbsp;64</h1>
  <p>It launches in <strong>June</strong>. When you sign up you'll get:</p>
  <ul class="pros">
    <li>short but intense episode <strong>each week</strong>,</li>
    <li><strong>full transcript</strong> of the episode,</li>
    <li><strong>show notes</strong>,</li>
    <li><strong>source code</strong>.</li>
  </ul>
  On top of that you'll get access to <strong>all</strong> previously released <strong>episodes</strong> to watch online or download <strong>DRM free</strong>.</p>
  </div>
</section>

<section class="trailer">
  <h2>See the trailer!</h2>
<%= partial "views/wistia_video", locals: { wistia_id: "cb7m9szjlt", kissmetrics_data: "Prelaunch Video" } %>
</section>

<section class="featured-episodes featured-<%= featured_episodes.count%>">
  <h2>Watch an Episode Now!</h2>
  <% featured_episodes.each do |episode| %>
    <% link_to episode_path(episode), class: "featured-episode" do %>
    <%= image_tag episode.poster_path %>
    <h4><%= episode.formatted_title %></h4>
    <%= image_tag "play-icon.png", class: "play-icon" %>
<% end %>
<% end %>
</section>

<section class="signup">
  <h2>Get more free episodes!</h2>
  <p>Leave your email below and you'll be the first to know when the project launches and the first to watch new free episodes.</p>
<%= partial "views/mailchimp_signup_form" %>
</section>

<section class="testimonials">
  <h2>See what others are saying!</h2>
  <% data.testimonials.each_slice(2) do |testimonials_row| %>
    <div class="row">
      <% testimonials_row.each do |testimonial| %>
        <div class="testimonial">
          <div class=" bubble">
            <blockquote><%= testimonial.body %></blockquote>
          </div>
          <div class="author">
            <%= image_tag "testimonials/#{testimonial.photo}", class: "avatar" %>
            <div class="credentials">
              <h4>- <%= testimonial.name %></h4>
              <p><%= testimonial.credentials %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</section>
