---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <div class="article">
    <div class="row">
      <div class="col-1-of-3">
        <%= image_tag(article_thumbnail_path(article), class: "thumbnail") %>
      </div>
      <div class="col-2-of-3">
        <h2><%= link_to article.title, article %><br><span><%= article.date.strftime('%b %e') %></span></h2>
      <!-- use article.summary(250) if you have Nokogiri available to show just
           the first 250 characters -->
        <%= article.summary(250) %>
      </div>
    </div>
  </div>

<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
