<section class="seasons current">
  <h1>Season <%= episodes_catalog.current_season.number %> - Current Season</h1>
<% episodes_catalog.current_season.tap do |season| %>
  <div class="season" id="season-<%= season.number %>" >
    <% link_to season_path(season) do %>
      <%= image_tag(season.poster_path, class: "thumbnail") %>
    <% end %>
    <%= partial "views/subscribe_button" %>
  </div>
<% end %>
</section>
<section class="seasons passed">
  <h1>Past Seasons</h1>
  <% episodes_catalog.past_seasons.each_with_index do |season, index| %>
    <div class="season" id="season-<%= season.number %>" >
      <% link_to season_path(season) do %>
        <%= image_tag(season.poster_path, class: "thumbnail") %>
      <% end %>
      <%= partial "views/buy_season_button", locals: {season: season} %>
    </div>
  <% end %>
</section>

<% content_for(:javascript) do %>
<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<% end %>
