---
title: 64 bites - Paid Episode
---
<section class="pitch">
  <div class="w">
    <h1 style="width: 100%">The easiest way to start programming <em>Commodore&nbsp;64</em></h1>
    <p class="lead"><em>Learn</em> BASIC and 6502 Assembly with bite-sized video tutorials.<br>Watch your first episode <em>today</em>!</p> 
  </div>
</section>
<% if defined?(episode) %>
  <% is_latest = episodes_catalog.latest_episode?(episode) %>
  <% season = episodes_catalog.find_season_by_episode(episode) %>

  <%= partial "views/episode_section", locals: { episode: episode } %>
  <section class="pricing-tiers <%= is_latest ? "three" : "two" %>">
    <h2>Watch this Video Today</h2>
    
      <%= partial "views/episode_pricing_tier", locals: {tier_class: "left", episode: episode, show_alternative_cta: false} %>

      <% if is_latest %>
        <%= partial "views/subscription_pricing_tier", locals: {tier_class: "suggested", subscription: episodes_catalog.subscription, show_alternative_cta: true} %>
        <%= partial "views/season_pricing_tier", locals: {tier_class: "right", season: season, show_alternative_cta: true} %>
      <% else %>
        <%= partial "views/season_pricing_tier", locals: {tier_class: "suggested", season: season, show_alternative_cta: false} %>
      <% end %>
  </section>

  <%= partial "views/testimonials_section" %>
<% end %>
<% content_for(:javascript) do %>
<script type="text/javascript" src="https://gumroad.com/js/gumroad.js"></script>
<% end %>
