---
hide_menu: true
---
<% if defined?(episode) %>
  <h1>Episode <%= episode.formatted_title %></h1>
  <%= episode.description %>
  <br>
  <br>
  <br>
  <h2>Watch the video</h2>
  <div class="embed-container">
  <iframe src="https://player.vimeo.com/video/<%= episode.vimeo_id %>" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>

  <h2>Download show notes</h2>
  <p>Click on the button below to get the full transcript, source code and programming exercises.</p>
  <p>This way you follow along while watching the episode.</p>
  <p>You will not only understand what is happening but also code everything yourself!</p>
  <%= link_to "Download show notes", episode_show_notes_path(episode), class: "button" %>

  <% season = episodes_catalog.find_season_by_episode(episode) %>
  <% episodes = episodes_catalog.all_episodes_in_season(season) %>
  <% all_seasons = episodes_catalog.find_all_seasons_bundle(episode) %>

  <br><br>
      <h2>Want more?</h2>
      <p>By the way. There are <strong>108 episodes</strong> like this one in total. They are bundled in <strong>12 Seasons.</strong><br>
      This episode is part of a <strong>Season <%= season.number %></strong>.</p>
      <p>If you enjoy the series and want to get them for <strong>the best price</strong><br>you can buy <strong>separate seasons</strong> or even better - <strong>Get all of them in one go</strong>. </p>
      <p>You can read more about that below</p>
      <br>

<section class="pricing-tiers two">
      <div class="row">
        <h2>Get this Episode in a bundle </h2>
         <div class="col-1-of-2">
        <%= partial "views/all_seasons_pricing_tier", locals: {tier_class: "left suggested", all_seasons: all_seasons, episode: episode} %>
      </div> 
        <div class="col-1-of-2">
          <%= partial "views/season_pricing_tier", locals: {tier_class: "right", season: season, episode: episode, show_alternative_cta: false} %>
        </div>
      </div>
    </section>

    <section class="season">
<div class="row">

  <section class="all_seasons">
<div class="row">

  <h2>The first 12 seasons (all of them)</h2>
  <%= image_tag(all_seasons.poster_path, class: "season__poster") %>
  </div>
  </section>
  <section class="features">
    <div class="row">
    <%= partial "views/all_seasons_pitch" %>
    </div>
    <br>
  </section>
    <h2>Season <%= season.number %> - <small><%= season.title %></small></h2>
    <%= image_tag(season.poster_path, class: "season__poster") %>
    </div>
    </section>
    <section class="features">
      <div class="row">
      <%= partial "views/seasons/pitch_#{season.formatted_number}" %>
      </div>
    </section>

    
    <section class="episodes">
    <h2>All Episodes in this Season</h2>
  <% episodes.each do |episode| %>
    <div class="episode">
      <div class="row">
        <div class="col-1-of-3">
          <div class="episode__poster">
            <%= image_tag(episode.poster_path, class: "thumbnail") %>
        </div>
      </div>
      <div class="col-2-of-3">
        <div class="episode__info">
          <h2>Episode <%= episode.formatted_title %></h2>
          <%= episode.description %>
        </div>
      </div>
    </div>
  <% end %>
  <% remaining_episodes_count = 9 - episodes.count %>
  <% if remaining_episodes_count > 0 %>
    <div class="row">
    <% if remaining_episodes_count == 1 %>
      <p><strong>One remaining episode will be released next week.</strong><br>If you buy the season now, you will get the video as soon as it is out without paying anything extra.</p>
    <% else %>
      <p><strong><%= remaining_episodes_count %> remaining episodes will be released in following weeks.</strong><br>If you buy the season now, you will get videos as soon as they are out without paying anything extra.</p>
    <% end %>
    </div>
  <% end %>
</section>
<%= partial "views/testimonials_section" %>
  <section class="pricing-tiers two">
      <div class="row">
        <h2>Get this Episode in a bundle </h2>
         <div class="col-1-of-2">
        <%= partial "views/all_seasons_pricing_tier", locals: {tier_class: "left ", all_seasons: all_seasons, episode: episode} %>
      </div> 
        <div class="col-1-of-2">
          <%= partial "views/season_pricing_tier", locals: {tier_class: "right suggested", season: season, episode: episode, show_alternative_cta: false} %>
        </div>
      </div>
    </section>


<% end %>
